.Button {
	border-radius: 0.3em;
	border: 1px solid rgba(255, 255, 255, 0.5);
	background: #2ba87f;
	color: #fff;
	padding: 0.3em;
	margin: 0.3em 0.3em 0 0;
	width: max-content;
	height: min-content;
	cursor: pointer;
}
