*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
	overflow: hidden;
    background: rgb(85, 96, 104) radial-gradient(rgb(139, 156, 168), rgb(31, 38, 43));
	height: 100vh;
	color: rgb(204, 215, 228);
	font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
	overflow: hidden;
    font-family: "Open Sans", sans-serif;
    width: 100vw;
	height: 100vh;
}

div {
	display: block;
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
}


#root {
	font-size: 1.3em;
	margin: 0;
	padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	width: 90em;
	height: 60em;
}

.active {
	border: 2px solid rgba(141, 58, 120, 0.678);
}

.fLeft {
	float: left;
}

.fRight {
	float: right;
}

.CB {
	clear: both;
}

@media only screen and (max-width: 1280px) {
    #root { font-size: 1.1em; }
}

@media only screen and (max-width: 1024px) {
    #root { font-size: 0.8em; }
}

@media only screen and (max-width: 768px) {
    #root { font-size: 0.7em; }
}
